<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Big Wave Riding</title>
</head>
<body>

<h1>Pictures of Laird Hamilton:</h1>
<img src="/images/teahopu.jpeg">
<img src="/images/teahopu2.jpeg">
<img src="/images/jaws.jpeg">

<h1>... and a pittbull:</h1>
<img src="/pics/pittbull.jpeg">

</body>
</html>