<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Routing Exercise 03</title>
  </head>
  <body>

  <header>
    {{if .}}<p>Thing Four says the request method is: {{.}}</p>{{end}}
  </header>
  </body>
</html>