<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>CS Course Catalog</title>
  </head>
  <body>

    {{range .}}

    <h1>{{.AcaYear}}</h1>
    <div>
      <h2>{{.Fall.Term}}</h2>
      {{range .Fall.Courses}}
        <h3>{{.Name}}</h3>
        <p>{{.Number}}</p>
        <p>{{.Units}}</p>
      {{end}}
    </div>

    <div>
      <h2>{{.Spring.Term}}</h2>
      {{range .Spring.Courses}}
        <h3>{{.Name}}</h3>
        <p>{{.Number}}</p>
        <p>{{.Units}}</p>
      {{end}}
    </div>


    {{end}}
  </body>
</html>