<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>These are not dogs</title>
</head>
<body>

<h1>Pictures of not dogs:</h1>
<img src="/resources/images/dog.jpeg">
<img src="/resources/images/dog1.jpeg">
<img src="/resources/images/dog2.jpeg">

</body>
</html>