<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Menu</title>
  </head>
  <body>
    
      <div>
        <p>breakfast</p>
          
            <h2>pancakes</h2>
            <p>4</p>
          
            <h2>eggs</h2>
            <p>5</p>
          
            <h2>bacon</h2>
            <p>3</p>
          
            <h2>fruit</h2>
            <p>5.5</p>
          
            <h2>omellette</h2>
            <p>3</p>
          
            <h2>oatmeal</h2>
            <p>5.5</p>
          
      </div>
    
      <div>
        <p>lunch</p>
          
            <h2>hoagie</h2>
            <p>4</p>
          
            <h2>tuna salad</h2>
            <p>5</p>
          
            <h2>hamburger</h2>
            <p>3</p>
          
            <h2>fries</h2>
            <p>5.5</p>
          
      </div>
    
      <div>
        <p>dinner</p>
          
            <h2>steak</h2>
            <p>4</p>
          
            <h2>cobb salad</h2>
            <p>5</p>
          
            <h2>pasta primavera</h2>
            <p>3</p>
          
            <h2>clam chowder</h2>
            <p>5.5</p>
          
      </div>
    
  </body>
</html>