<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Menu</title>
  </head>
  <body>
    {{range $restaurant := .}}
      <div>
        <h2>{{$restaurant.Name}}</h2>
        {{range $restaurant.Menu}}
          <p>{{.Meal}}</p>
          {{range .Dishes}}
            <h2>{{.Dish}}</h2>
            <p>{{.Price}}</p>
          {{end}}
        {{end}}
      </div>
    {{end}}
  </body>
</html>