<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <title>Login</title>
</head>

<body>
  <h1>Login</h1>
  <a href="/">Home</a><br>
  <a href="/signup">Signup</a><br>
  <a href="/users">Users</a>

  <form method="post">
    <label for="username">Username</label>
    <input
      type="text"
      name="username"
      id="username"
    >

    <label for="password">Username</label>
    <input
      type="text"
      name="password"
      id="password"
    >
    <input
      type="submit"
      value="Login"
    >
  </form>
  <p id="userNotExists">{{.}}</p>
</body>

</html>