<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <title>Signup</title>
</head>

<body>
  <h1>Signup</h1>
  <a href="/">Home</a><br>
  <a href="/login">Login</a><br>
  <a href="/logout">Logout</a><br>
  <a href="/users">Users</a><br>
  <a href="/loggedinusers">Logged In Users</a>

  <form method="post">
    <label for="username">Username</label>
    <input
      type="text"
      name="username"
      id="username"
    >

    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
    >
    <input
      type="submit"
      value="Add User"
    >
  </form>

  <p id="error">{{ . }}</p>

</body>

</html>